/*!
 * 
 * [Dojo](https://dojo.io/)
 * Copyright [JS Foundation](https://js.foundation/) & contributors
 * [New BSD license](https://github.com/dojo/meta/blob/master/LICENSE)
 * All rights reserved
 * 
 */.button-m__root__wCywK{cursor:pointer;display:inline-block;padding:10px}.button-m__pressed__2zyjz:before{border-bottom:2px solid #000;border-right:2px solid #000;-webkit-box-sizing:border-box;box-sizing:border-box;content:"";display:inline-block;height:1em;margin:-1em .5em 0 0;-webkit-transform:rotate(45deg);transform:rotate(45deg);width:.5em}.button-m__disabled__19w7M,.button-m__disabled__19w7M:hover{cursor:default}