/*!
 * 
 * [Dojo](https://dojo.io/)
 * Copyright [JS Foundation](https://js.foundation/) & contributors
 * [New BSD license](https://github.com/dojo/meta/blob/master/LICENSE)
 * All rights reserved
 * 
 */.breadcrumb-group-m__listItem__8UkbK,.breadcrumb-group-m__listItem__8UkbK:before{margin-right:.75rem}.breadcrumb-group-m__listItem__8UkbK::last-child{margin-right:0}.breadcrumb-group-m__breadcrumbFixed__3B1O-,.breadcrumb-group-m__listFixed__sUJba,.breadcrumb-group-m__separatorFixed__2guMR{-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:flex}.breadcrumb-group-m__listFixed__sUJba{list-style:none;margin:0;padding:0}